@font-face {
    font-family: __Inter_a64ecd;
    font-style:normal;
    font-weight: 250;
    font-display: swap;
    src: url("../fonts/main.woff2") format("woff2");
}

body {
    font-family: __Inter_a64ecd;
    color: white;
    font-size: larger;
    background: linear-gradient(90deg, rgba(4,6,24,1) 0%, rgba(40,0,70,1) 20%);
    overflow: auto;
    overflow-wrap: break-word;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: white;
}
